CONFIG_CC_IS_CLANG=y
CONFIG_AS_IS_LLVM=y
CONFIG_LD_IS_LLD=y

# Some kernel modules, especially AMDGPU, frequently break the default warning
# threshold 2048 when built with LLVM. Thankfully it usually exceeds the limit
# by only a little (2088 v.s. 2048, etc.), so let's not be too nervous for this
# until someone complains.
CONFIG_FRAME_WARN=2304
